* {
    --bgnd-color: rgb(221, 219, 221);
    --bgnd-light: rgb(158, 224, 149);
    --bgnd-dark: rgb(140, 218, 129);
    color: rgb(66, 59, 59);
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin: 0;
    align-items: center;
}

footer {
    background-color: var(--bgnd-color);
    height: 30vh;
    width: 100%;
}

header {
    background-color: var(--bgnd-light);
    display: flex;
    width: 100%;
    font-size: 1.75em;
}

header div {
    padding-left: 5%;
}

main {
    background-color: var(--bgnd-color);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

aside {
    background-color: var(--bgnd-dark);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15% 0 5% 0;
}

.buttons, button {
    display: flex;
    justify-content: center;
}

.buttons div, button {
    border: rgb(51, 50, 47) 1px solid;
    background-color: var(--bgnd-light);
    margin: 2%;
    padding: 0.75em 1em;
    border-radius: 2em;
    font-size: 1em;
}

.buttons div, button:active {
    background-color: wheat;
    color: slategray;
}

.message {
    align-self: center;
    font-size: 1.5em;
    font-style: italic;
    padding-top: 1%;
}

#undo {
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center;
}